<form method="POST" action="{{path("admin.categories.ajoutCategorie")}}" class="form-control">

<legend>Ajouter une catégorie </legend>

<div class="d-flex flex-row" style="gap:5%">

    <div class="d-flex flex-column">

        <label for="name" class="form-label">Nom de la catégorie :</label>
        <input type="text" name="name" id="name" class="form-control h-50">

    </div>

    <div class="d-flex align-items-end">

        <input type="submit" class="btn btn-outline-success h-50" value="Valider !">
    
    </div>

</div>

</form>